<footer>
	<p>Mateo Mazzucco</p>
	<div>
		<p>Software Engineer</p>
		<p>Cordoba</p>
	</div>
</footer>

<style>
	footer {
		padding: 1rem;
		justify-content: space-between;
		display: flex;
	}

	div {
		display: flex;
		gap: .5rem;
	}
</style>
